<?xml version="1.0" encoding="UTF-8"?>
<!-- Author: Viquar Khan -->
<configuration>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder>
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] [trace=%X{trace:--}] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.eclipse.jetty" level="WARN"/>
  <logger name="io.modelcontextprotocol" level="INFO"/>
  <logger name="io.github.vaquarkhan.aegis" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="STDERR"/>
  </root>

</configuration>
